/include/ "system-conf.dtsi"
/ {
  model = "Zynq Z-Turn V2 MYIR Board";
  compatible = "myir,zynq-zturn", "xlnx,zynq-7000";
  
  reserved-memory {
    #address-cells = <1>;
    #size-cells = <1>;
    ranges;
    
    /* 16 MB reserved for tests on the DMA */
    dma_src_reserved: buffer@30000000 {
        no-map;
        reg = <0x30000000 0x01000000>;
    };
    
    /* New CMA reservation (e.g., 128MB at 0x31000000) */
    linux,cma {
      compatible = "shared-dma-pool";
      reusable;   /* Essential for CMA: allows kernel to use it when idle */
      size = <0x08000000>;
      alignment = <0x00001000>;
      alloc-ranges = <0x31000000 0x08000000>;
      linux,cma-default; /* Makes this the default pool for the system */
    };
 
  };
  
  axidma_chrdev: axidma_chrdev@0 {
    compatible = "xlnx,axidma-chrdev";
    dmas = <&spw_0_axi_dma_spw_0 0 &spw_0_axi_dma_spw_0 1>;
    dma-names = "tx_channel", "rx_channel";
  };    
  
  gpio-leds {
    compatible = "gpio-leds";
    usr-led1 {
      label = "usr-led1";
      gpios = <&gpio0 0x0 0x1>;
      default-state = "off";
    };
   
    usr-led2 {
      label = "usr-led2";
      gpios = <&gpio0 0x9 0x1>;
      default-state = "off";
    };
  };
   
  gpio-keys {
    compatible = "gpio-keys";
    autorepeat;
    K1 {
      label = "K1";
      gpios = <&gpio0 0x32 0x1>;
      linux,code = <0x66>;
      wakeup-source;
      autorepeat;
    };
  };

  usb_phy0: usb_phy@0 {
    compatible = "ulpi-phy";
    #phy-cells = <0>;
    reg = <0xe0002000 0x1000>;
    view-port = <0x170>;
    drv-vbus;
  };
  
  sound {
      status = "okay"; 
      compatible = "simple-audio-card";
      simple-audio-card,name = "Zynq Sound Formatter";
      simple-audio-card,bitclock-master = <&dailink0_master>;
      simple-audio-card,frame-master = <&dailink0_master>;
      
      /* advertise supported rates & formats */
      simple-audio-card,rates = <44100>;
      simple-audio-card,formats = "S16_LE", "S24_LE";
  
      simple-audio-card,cpu {
          sound-dai = <&hier_spdif_audio_formatter_0>;  /* <- Sound Formatter IP */
      };
  
      dailink0_master: simple-audio-card,codec {
          sound-dai = <&hier_spdif_spdif_0>;
      };
  };
};

&spw_0_axi_dma_spw_0 {
  memory-region = <&dma_src_reserved>;
  dma-channel@40400000 {
    xlnx,device-id = <0x0>;
  };
  dma-channel@40400030 {
    xlnx,device-id = <0x1>;
  };
};

&spw_0_axi_fifo_mm_spw_0 {
  compatible = "xlnx,axi-fifo-mm-s-4.3", "xlnx,axi-fifo-mm-s-4.2", "xlnx,axi-fifo-mm-s-4.1";
};

&spw_1_clk_wiz_0 {
  status = "okay";
};

&spw_1_axi_bram_spw_native {
  compatible = "xlnx,spacewire";
	interrupt-parent = <&intc>;
	interrupts = <0 34 4>;
	clock-names = "spw_clk_tx_flex";
	clocks = <&spw_1_clk_wiz_0 2>;
};

&axi_gpio_rgb {
  gpio-line-names = "ledR", "ledG", "ledB";
};

&spw_0_axi_gpio_spw {
  gpio-line-names = "linkdis", "autostart", "linkstart", "txdiv0", "txdiv1", "txdiv2", "txdiv3", "txdiv4", "txdiv5", "txdiv6", "txdiv7", "errdisc", "started", "running", "connecting", "errcred", "erresc", "errpar";
  xlnx,dout-default = <0x00000001>;
};

/* Fix broken link to DAI */
&hier_spdif_audio_formatter_0 {
  status = "okay";
  xlnx,tx = <&hier_spdif_spdif_0>;
};

/* Link the SPDIF TX IP with its Audio Formatter */
&hier_spdif_spdif_0 {
  status = "okay";
  xlnx,snd-pcm = <&hier_spdif_audio_formatter_0>;
};

&usb0 {
  status = "okay";
  dr_mode = "host";
  phy_type = "ulpi";
  usb-phy = <&usb_phy0>;
};

&gpio0 {
  status = "okay";
};

&sdhci0 {
  status = "okay";
};

&gem0 {
  status = "okay";
  compatible = "xlnx,zynq-gem";
  xlnx,has-mdio = <0x1>;
  phy-mode = "rgmii-id";
  xlnx,ptp-enet-clock = <0x69f6bcb>;
 
  ethernet-phy@0 {
      compatible = "ethernet-phy-ieee802.3-c22";
      reg = <0>;
      max-speed = <1000>;
  };

  ethernet-phy@7 {
      compatible = "ethernet-phy-ieee802.3-c22";
      reg = <7>;
      max-speed = <1000>;
  };  
};

&qspi {
  status = "okay";
  
	flash0: flash@0 {
		compatible = "winbond,w25q128", "jedec,spi-nor";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
    size = <0x1000000>;  /* 16MB (128Mbit) */
    has-dpd;
    t-enter-dpd = <20000>;
    t-exit-dpd = <100000>;
    jedec-id = [ef 70 18];
	};
};

&i2c0 {
  status = "okay";
  clock-frequency = <200000>;
 
  stlm75@49 {
    status = "okay";
    compatible = "lm75";
    reg = <0x49>;
  };
 
  accelerometer@53 {
    compatible = "adi,adxl345", "adxl345", "adi,adxl34x", "adxl34x";
    reg = <0x53>;
    interrupt-parent = <&intc>;
    interrupts = <0 35 4>;
  };
};