
*/*/config.old
*/*/rootfs_config.old
build/
images/linux/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
components/yocto
/project-spec/configs/.Xil/*
/project-spec/configs/.Xil/*
/project-spec/configs/.Xil/*
/project-spec/configs/.Xil/*
/project-spec/configs/.Xil/*
/components/plnx_workspace/device-tree/device-tree/*
/components/plnx_workspace/device-tree/device-tree/include/*
/components/plnx_workspace/device-tree/device-tree/include/*
/components/plnx_workspace/device-tree/device-tree/include/*
/components/plnx_workspace/device-tree/device-tree/include/*
/components/plnx_workspace/device-tree/device-tree/include/*
/components/plnx_workspace/device-tree/device-tree/include/*
/components/plnx_workspace/device-tree/device-tree/include/*
/components/plnx_workspace/device-tree/device-tree/include/*
/components/plnx_workspace/device-tree/device-tree/include/*
/components/plnx_workspace/device-tree/device-tree/include/*
/components/plnx_workspace/device-tree/device-tree/include/*
/components/plnx_workspace/device-tree/device-tree/include/*
/components/plnx_workspace/device-tree/device-tree/include/*
